body {
	font-family: Poppins;
	font-size: 120%;
	color: #363636;
	padding-left: 5%;
	padding-right: 5%;
}

header {
	text-align: center;
	padding: 10px;
	padding-top: 40px;
}
header h1 {
	margin-top: 60px;
}

header p {
	font-family: Quattrocento;
	
	font-style: italic;
	font-size: 20px;
	/*text-transform: uppercase;*/
	color: #4682B4;
	margin-top: 80px;
	margin-bottom: 60px;
}
.fotoprofile {
	border-radius: 50px;
}
h1 {
	font-size: 260%;
}

ul {
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	padding-left: 0%;
	padding-right: 2%;
}
ul.menu li {
	display: inline;
	margin: 50px;
	text-transform: uppercase;

}

.banner {
	margin: 10%;
	margin-top: 80px;
}
footer {
	/*background-color: #4682B4;*/
	border-top-width: 0.8px;
	border-top-style: solid;
	border-top-color: #4682B4;
	margin-left: 10%;
	margin-right: 10%;

	/*margin-bottom: -5%;
	
	padding-top: 10px;
	padding-bottom: 10px;*/
}
div.footer {
	
	height: 60px;
	padding-left: 0%;
	padding-right: 0%;

}
div.footer p {
	display: inline;
	
	/*font-family: Quattrocento;*/
	font-size: 15px;
}
.name {
	float: left;
	padding-bottom: -5px;
}
.desc {
	float: right;
}
li a:hover {
	color: #4682B4;
	text-decoration: none;
		
}


li a {
	text-decoration: none;
	color: #363636;
}
li.visited {
	color: #4682B4;
}

section.cases {
	text-align: center;
}
section.cases h2, p, h4, h3 {
	margin-top: 60px;
	text-align: left;
}

a {
	text-decoration: none;
	color: #363636;
}
a:hover {
	color: #4682B4;
}
p.coment {
	line-height: 40px;
	text-align: left;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #4682B4;
}
p.separator {
	text-align: center;
}